$mainColor: #6671e4;
$secColor: #ec3c32;
$darkColor: #59687c;
$grayColor: #708198;
//background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
$greenGradient1: #42E695;
$greenGradient2: #3BB2B8;

$redGradient1: #F54EA2;
$redGradient2: #FF7676;
$lightGray: #f6f7f8;
